<h1>Editing Subscription Notification</h1>

<%= render 'form', subscription_notification: @subscription_notification %>

<%= link_to 'Show', @subscription_notification %> |
<%= link_to 'Back', subscription_notifications_path %>
